@charset "UTF-8";
body {
	background-color: black;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
.play {
	display: none;
}
.player:hover {
	cursor: default;
}
.player {
	position: absolute;
	display: block;
	z-index: 999;
	bottom : 0;
	width: 100%;
	height: 6em;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}
i {
	color: #c8c8c8;
	font-size: 1.5em;
}
i:hover {
	cursor: pointer;
	color: #fff;
}
.h {
	display: none;
}
#volumeBar {
	-webkit-appearance: none;
	background: #c8c8c8;
	background-color: #c8c8c8;
	height: 5px;
	width: 100px;
	cursor: pointer;
	overflow: hidden;
}
input[type="range"] {
	appearance: auto;
}
#volumeBar::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0px;
	height: 13px;
	border-radius: 3px;
	box-shadow: -100vw 0 0 100vw #f55;
}
.progressBar {
    width: 100%;
    height: 6px;
    background-color: #ccc;
}
.progressBar:hover {
	cursor: pointer;
}
.progressIndicator {
    height: 100%;
    background-color: #f12345;
    width: 0%;
}
#formattedCurrentTime {
	position: fixed;
    left: 17px;
    bottom: 58px;
    font-size: 13px;
}
#formattedDuration {
	position: fixed;
    right: 17px;
    bottom: 58px;
    font-size: 13px;
}
.currentVolume {
	color: #c8c8c8;
	font-size: 13px;
}
#backward, #forward {
	font-size: 25px;
}
#pp {
	font-size: 30px;
}
#pp i {
	color: #f55;
}
#pp i:hover {
	color: red!important;
}